<!DOCTYPE html>
<html>
<head>
  <%= metamagic title: "grey ActiveAdmin Demo", 
  				description: "Learning Ruby on Rails: ActiveAdmin", 
  				keywords: %w(ruby rails Ruby on Rails) 
  %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
